@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: 'Gobold';
	src: url('font/Gobold-Extra2.otf') format('otf'),
		 url('font/Gobold-Extra2-Italic.otf') format('otf');
	/* You can include additional font properties here, such as font-weight or font-style */
  }


body {
	margin:0;
	font-family: "program", sans-serif;
	text-decoration: none;
	background-color: #ef4271;}
h3{
	font-family: "Gobold", sans-serif;
	font-size: 15pt;
	font-weight: bold;
	font-kerning: auto;
}
h1{
	font-family: 'Gobold', sans-serif;
	font-size: 35pt;
	font-weight: bold;
	font-kerning: auto;	
	text-decoration: none;

}
p{
	font-family: "program", sans-serif;
	font-size: 10pt;
	font-kerning: auto;
}


#background{
	z-index:-1;
	position: fixed;
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: center;
}
#characters{
	z-index:1;
	position: absolute;
	top:25%;
	left: 50%;
	transform: translate(-50%,-50%);
	min-width: 300px;
	width: 10%;
	height: auto;
}
.centered-header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white; /* Adjust text color as needed */
	font-size: 60px; /* Adjust font size as needed */
	font-weight: bold; /* Adjust font weight as needed */
	text-decoration: none;
	transition: color 0.3s ease; /* Add a smooth transition effect */

}
a.centered-header:hover {
	color: rgb(0, 0, 0); /* Change the color on hover */
  }